.home-page header {
    background-image: linear-gradient(rgba(58,190,249,0.6), rgba(5, 10, 35, 0.75)), url(../../utils/images/home-page-header.JPG);
}

header {
    background-size: cover;
    background-position: center;
}

.blog-section {
    background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), url(../../utils/images/blog-section-img.jpg);
    background-size: cover;
    background-position: center;
}
.btn-custom {
    background-color: #3572EF !important;
    border-color: #3572EF !important; /* If you want to change the border color too */
}
.img-fluid {
    width: 200%;
    height: auto;
}

